# ignorer la structure de l'environnement de développement
.env

git_commits_to_csv.py

historique_commits.csv
historique_commits_final.csv
historique_commits_journalier.csv
TODO_actu-gerre-iran-3197-3370.xlsx