# -----------------------------------------------
# RÉÉCRITURE D'URLS - Front Controller
# -----------------------------------------------
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Bloquer l'accès direct aux dossiers sensibles
    RewriteRule ^(config|model|controller|helper|database)/ - [F,L]

    # Fichiers et dossiers réels → servis directement (css, images...)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Tout le reste → index.php
    RewriteRule ^ index.php [L]
</IfModule>

# -----------------------------------------------
# COMPRESSION GZIP
# -----------------------------------------------
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/json
</IfModule>

# -----------------------------------------------
# CACHE NAVIGATEUR
# -----------------------------------------------
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 2 weeks"
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
</IfModule>

# -----------------------------------------------
# CORS
# -----------------------------------------------
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>s