# Active le moteur de réécriture d'URLs d'Apache
RewriteEngine On

# Si le fichier demandée existe, ne pas réécrire l'URL et laisser Apache le servir normalement
RewriteCond %{REQUEST_FILENAME} !-f

# Pareil pour les dossiers
RewriteCond %{REQUEST_FILENAME} !-d

# Les urls qui ne correspondent pas passe par index.php
RewriteRule ^ index.php [L]

# Pas d'acces au dossier sensible
RewriteRule ^(config|model|controller|helper|database)/ - [F,L]